body{
	font-family: Lato;
    color: #353535;
    font-size: 16px;
}

.selectSexButtons {
    padding-bottom: 40px;
}

.selectSexButtons div {
    display: inline-block;
}

.selectSexButtons .option {
    width: 100px;
}

.selectSexButtons .instruction {
    font-size: 20px;
    color: #1696d2;
    text-transform: uppercase;
    font-weight: bold;
    width: 160px;
}

.selectSexButtons .label {
    font-size: 18px;
    padding-left: 10px;
}

.selectSexButtons p {
    font-style: italic;
    color: #9d9d9d;
}
/*.button{
    text-transform: uppercase;
    background: #d2d2d2;
    display: inline-block;
    padding: 11px;
    margin-bottom: 30px;
    margin-right: 10px;
    color: #353535;
    cursor: pointer;
}

.button.male,
.button.female {
    background: #fff;
    text-transform: none;
    padding: 0;
}*/

/*.button.active, .button:hover{
	background: #1696d2;
	color: #fff;
}
*/

#questions{

}
.question{
	margin-bottom: 30px;
}
.question.hide{
	display: none;
}
.question.disabled{
	opacity: .4;
	pointer-events: none;
}
.question.error .errorMark{
	visibility: visible;
}
.question.error{
	color: #db2b27;
}
.promptRow{
	margin-bottom: 5px;
}
.qNum{
    /*display: inline-block;*/
    /*font-weight: bold;*/
    font-size: 14px;
    color: #1696d2;
    text-transform: uppercase;
}
.prompt{
	/*display: inline;*/
    /*margin-left: 5px;*/
    font-weight: bold;
    padding: 7px 0;
}
.errorMark{
	display: inline;
	visibility: hidden;
	margin-left: 2px;
    font-size: 19px;
}
.option{
    margin: 14px 0 14px 15px;
	cursor: pointer;
}
.checkbox{
	width: 16px;
    height: 16px;
    /*background: #d2d2d2;*/
    display: inline-block;
    border: 1px solid #c4c4c4;
    border-radius: 16px;
    vertical-align: text-bottom;
}
.checkbox.active{
    background: #1696d2;
    border: 1px solid #1696d2;
}
.optVal{
	display: inline;
    margin-left: 10px;
}

#calculate{
    text-transform: uppercase;
    background: #1696d2;
    display: inline-block;
    padding: 11px;
    margin-bottom: 30px;
    margin-right: 10px;
    color: #fff;
    cursor: pointer;
    display: none;
}
#calculate.disabled{
	background-color: #d2d2d2;
	color: #353535;
	pointer-events: none;
	opacity: .4;
}
#calculate.active, #calculate:hover{
	background: #353535;
}
#scoreText{
	/*margin-bottom: 200px;*/
    /*font-size: 40px;*/
    width: 226px;
    padding: 20px;
    background-color: #f7f7f7;

}